


<section id="features" class="features">
  <div class="container">
    <h2 class="mb-5">Admin dashboard</h2>
    <div class="features-grid">
      <div class="feature" routerLink="/AdminProduct">
        <i class="fas fa-box"></i>
        <h3>Product Management</h3>
        <p>Add, update, and delete products with ease.</p>
      </div>
      <div class="feature" routerLink="/adminUsers">
        <i class="fas fa-users"></i>
        <h3>User Management</h3>
        <p>Manage user accounts and roles efficiently.</p>
      </div>
      <div class="feature"  routerLink="/Orders">
        <i class="fas fa-shopping-cart"></i>
        <h3>Order Management</h3>
        <p>Track and manage orders effectively.</p>
      </div>
    </div>
  </div>
</section>
